/* Variables */

:root {
  --color-white: #ffffff;
  --btn-color: #ff6565;
}

/* ========= */

header {
  background-image: url(images/headphones_hero_1.jpg);
  object-fit: cover;
  position: center;
  width: 100%;
  height: 800px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

p {
  color: var(--color-white);
  width: 300px;
}

h1 {
  color: var(--color-white);
}

button {
  color: var(--color-white);
  background-color: var(--btn-color);
  padding: 12px;
  padding-left: 10px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
}

/*** Header ***/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
